{% if params.caption %}
  <span class="govuk-caption-{{ params.size | default('xl', true) }}">{{ params.caption }}</span>
{% endif %}
<h1 class="govuk-heading-{{ params.size | default('xl', true) }}">{{ params.text }}</h1>