{% extends 'layouts/page.njk' %}

{% set pageHeading = applianceDetails.name %}
{% set backLinkText = "Back to list" %}

{% block content %}

  <h1 class="govuk-heading-xl">{{ applianceDetails.name }}</h1>
  
  <p class="govuk-body">{{ manufacturedByLabel }} {{ applianceDetails.manufacturer }}</p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p class="govuk-body-s govuk-!-margin-bottom-4">
    {{ departmentLabel }} <a href="{{ departmentInfo.url }}" class="govuk-link">{{ departmentInfo.name }}</a>
  </p>

  <p class="govuk-body-s govuk-!-margin-bottom-8">
    {{ publishedLabel }} {{ publishedDate | formatDate('d MMMM yyyy') }}
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h2 class="govuk-heading-m">{{ conditionsForUseHeading }}</h2>
      <p class="govuk-!-margin-bottom-2">{{ conditionsForUseDescription }}</p>

      {{ govukSummaryList({
  rows: [
   { key: { text: instructionManualLabels.title }, value: { html: conditionsForUse.instructionManual.title } },
  { key: { text: instructionManualLabels.date }, value: { html: conditionsForUse.instructionManual.date } },
  { key: { text: instructionManualLabels.version }, value: { html: conditionsForUse.instructionManual.version } },
  { key: { text: instructionManualLabels.additionalConditions }, value: { html: conditionsForUse.additionalConditions} }
 ]
}) }}



      
      <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ applianceDetailsHeading }}</h2>
      
      {{ govukSummaryList({
        rows: [
          { key: { text: applianceDetailsLabels.certifiedIn }, value: { html: applianceDetails.certifiedIn } },
          { key: { text: applianceDetailsLabels.fuelsAllowed }, value: { html: applianceDetails.fuelsAllowed } },
          { key: { text: applianceDetailsLabels.type }, value: { html: applianceDetails.type } },
          { key: { text: applianceDetailsLabels.output }, value: { html: applianceDetails.output } },
          { key: { text: applianceDetailsLabels.manufacturer }, value: { html: applianceDetails.manufacturer } },
          { key: { text: applianceDetailsLabels.manufacturerAddress }, value: { html: applianceDetails.manufacturerAddress } }
        ]
      }) }}
      
      <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ certificationHeading }}</h2>
      
      <p class="govuk-body">{{ certificationDescription }}</p>
      
      {% set countryRows = [] %}
      {% for country in certification %}
        {% set countryRows = (countryRows.push([
          { text: country.name },
          { html: country.status },
          { html: (country.firstCertified | formatDate('d MMMM yyyy')) if country.firstCertified else notCertified }
        ]), countryRows) %}
      {% endfor %}
      
      {{ govukTable({
        head: [
          {
            text: certificationTableHeaders.country
          },
          {
            text: certificationTableHeaders.certified
          },
          {
            text: certificationTableHeaders.dateFirstCertified
          }
        ],
        rows: countryRows
      }) }}
      
      <p class="govuk-body govuk-!-margin-top-6">
        <a href="{{ legalBasisHref }}" class="govuk-link">{{ legalBasisText }}</a>
      </p>
      
    </div>
  </div>

{% endblock %}