{% extends 'layouts/page.njk' %}


{% block pageContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/finder/appliances/en" class="govuk-link">Find certified appliances</a>
          </li>
          <li>
            <a href="/finder/fuels/en" class="govuk-link">Find certified fuels</a>
          </li>
          <li>
            <a href="/legal-basis-for-appliances/en" class="govuk-link">Find legal basis for appliances</a>
          </li>
          <li>
            <a href="/legal-basis-for-fuels/en" class="govuk-link">Find legal basis for fuels</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
