.gem-c-search {
  position: relative;
  margin-bottom: govuk-spacing(4);

  .gem-c-search__label {
    @include govuk-font($size: 19, $weight: bold);
    display: block;
    margin-bottom: govuk-spacing(2);
  }

  .gem-c-search__input {
    @include govuk-font($size: 19);
    width: 100%;
    height: 40px;
    padding: govuk-spacing(2);
    padding-right: 50px;
    border: 2px solid $govuk-input-border-colour;
    border-radius: 0;
    box-sizing: border-box;

    &:focus {
      outline: 3px solid $govuk-focus-colour;
      outline-offset: 0;
      box-shadow: inset 0 0 0 2px;
    }
  }

  .gem-c-search__submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $govuk-input-border-colour;
    border-left: 0;
    background-color: govuk-colour("black");
    cursor: pointer;
    border-radius: 0;

    &:hover {
      background-color: govuk-colour("dark-grey");
    }

    &:focus {
      outline: 3px solid $govuk-focus-colour;
      outline-offset: 0;
    }
  }

  .gem-c-search__icon {
    color: govuk-colour("white");
  }
}