{% extends 'layouts/page.njk' %}

{% block beforeContent  %}
  {{ govukBackLink({
        text: backLinkText if backLinkText else "Back",
        href: backLinkHref
      }) }}
  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      {% for description in descriptions %}
        <p class="govuk-body">
          {% if description.isPlainText %}
            {{ description.text }}
          {% else %}
            {{ description.text }}<a href="{{ description.linkHref }}" class="govuk-link" target="_blank" >{{ description.linkText }}</a>.
          {% endif %}
        </p>
      {% endfor %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form method="get" action="/finder/{{ type }}/{{ language }}" id="filter-form">
        <h2 class="govuk-heading-m">Search</h2>
        {# --- Filter options at the side --- #}

        {%- set filterOptionsHtml %}
          {{ govukDetails({
            summaryText: "Certified In",
            open: true,
            html: govukCheckboxes({
              idPrefix: "TODO",
              name: "certifiedIn",
              classes: "govuk-checkboxes--small",
              items: certifiedInOptions
            })
          }) }}

          {{ govukDetails({
            summaryText: "Fuels Allowed",
            open: true,
            html: govukCheckboxes({
              idPrefix: "fuelsAllowed",
              name: "fuelsAllowed",
              classes: "govuk-checkboxes--small",
              items: fuelsAllowedOptions
            })
          }) }}

          {{ govukDetails({
            summaryText: "Appliance Type",
            open: true,
            html: govukCheckboxes({
              idPrefix: "applianceType",
              name: "applianceType",
              classes: "govuk-checkboxes--small",
              items: applianceTypeOptions
            })
          }) }}
        {% endset -%}

        {{ appFilter({
          submit: {
            attributes: {
                "data-test-id": "submit-button"
            }
          },
          optionsHtml: filterOptionsHtml
        }) }}
        {# --- End filter options at the side --- #}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% if pageSpecificRecords.length > 0 %}
        <p class="govuk-body">
           <strong>{{showing}} {{ (currentPage - 1) * 2 + 1 }} {{to}} {{ pageEndRecord }} {{of}} {{ totalRecords }} {{records}}</strong>
        </p>
         {# --- Selected filters at the top --- #}
        {% if selectedFilters.categories.length > 0 %}
          {{ appFilter({
            selectedFilters: selectedFilters
          }) }}
        {% endif %}
        {# --- End selected filters at the top --- #}
        <hr class="govuk-section-break govuk-section-break--visible">
        {% if type === 'appliances' %}
          {% for pageSpecificRecord in pageSpecificRecords %}
            <div class="govuk-!-margin-bottom-1">
              <h3 class="govuk-heading-m govuk-!-margin-top-1">
                <a href="/details/appliances/{{pageSpecificRecord.id}}/{{language}}" class="govuk-link">{{ pageSpecificRecord.name }}</a>
              </h3>
              <p class="govuk-body"><strong>{{manufacturedBy}} {{ pageSpecificRecord.manufacturer }}</strong></p>
              <p class="govuk-body">{{fuelsAllowed}} {{ pageSpecificRecord.fuels }}</p>
              <p class="govuk-body">{{applianceType}} {{ pageSpecificRecord.type }}</p>
              <p class="govuk-body">{{authorisedIn}} {{ pageSpecificRecord.authorisedIn }}</p>
            </div>
            <hr class="govuk-section-break govuk-section-break--visible">
          {% endfor %}
        {% else %}
          {% for pageSpecificRecord in pageSpecificRecords %}
            <div class="govuk-!-margin-bottom-1">
              <h3 class="govuk-heading-m govuk-!-margin-top-1">
                <a href="/details/fuels/{{pageSpecificRecord.id}}/{{language}}" class="govuk-link">{{ pageSpecificRecord.name }}</a>
              </h3>
              <p class="govuk-body"><strong>{{manufacturedBy}} {{ pageSpecificRecord.manufacturer }}</strong></p>
              <p class="govuk-body">{{fuelID}} {{ pageSpecificRecord.id }}</p>
              <p class="govuk-body">{{authorisedIn}} {{ pageSpecificRecord.authorisedIn }}</p>
            </div>
            <hr class="govuk-section-break govuk-section-break--visible">
          {% endfor %}
        {% endif %}
        <!-- Pagination -->
        {% if totalPages >=  1 %}
          <nav class="govuk-pagination" aria-label="Pagination">
            {% if currentPage >  1 %}
              <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="?page={{currentPage - 1}}&search={{searchQuery}}" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">
                    Previous<span class="govuk-visually-hidden"> page</span>
                  </span>
                </a>
              </div>
            {% endif %}
            <ul class="govuk-pagination__list">
              {% for link in paginationLinks %}
                {% if link.isCurrent %}
                  <li class="govuk-pagination__item govuk-pagination__item--current" aria-current="page">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label={{ link.text }}>
                      {{ link.text }}
                    </a>
                  </li>
                {% else %}
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="{{ link.href }}" aria-label={{ link.text }}>
                      {{ link.text }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% if currentPage < totalPages %}
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page={{currentPage + 1}}&search={{searchQuery}}" rel="next">
                  <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            {% endif %}
          </nav>
        {% endif %}
      {% else %}
        <br>
        <p class="govuk-body"><strong>{{noResults}}</strong></p>
      {% endif %}
    </div>
  </div>


{% endblock %}